<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Apartments</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:object="${appartement}" method="post">-->
<!--    <label for="name">Name: </label>-->
<!--    <input id="name" type="text" required th:field="*{name}"/>-->
<!--    <label for="capacity">Capacity: </label>-->
<!--    <input id="capacity" type="number"-->
<!--           th:field="*{capacity}"/>-->
<!--    <input type="submit" value="Add"/>-->
<!--</form>-->
<!--</html>-->