<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="static/css/style.css"/>

    <title>Appartementedit</title>
</head>
<body>
<form th:action="@{|/admin/appartementedit/${appartement.id}|}" th:object="${appartement}" method="post">


    <div class="appartementinfo">
        <div>
            <label for="appartementNaam" class="grootheid">naam: </label>
            <input id="appartementNaam" th:field="*{appartementNaam}" th:value="${appartement.appartementNaam}"
                   class="eenheid">
        </div>
    </div>
    <div class="appartementinfo">
        <div>
            <label for="extraInfo" class="grootheid">extra info: </label>
            <input id="extraInfo" th:field="*{extraInfo}" th:value="${appartement.extraInfo}"
                   class="eenheid">
        </div>
    </div>
    <div class="appartementinfo">
        <div>
            <label for="capacity" class="grootheid">capaciteit: </label>
            <input id="capacity" th:field="*{capacity}" class="eenheid">
        </div>
    </div>
    <div class="appartementinfo">
        <div>
            <label for="parkingBeschikbaar" class="grootheid">parking beschikbaar ? </label>
            <input id="parkingBeschikbaar" th:field="*{parkingBeschikbaar}"
                   class="eenheid">
        </div>
    </div>
    <div class="appartementinfo">
        <div>
            <label for="afstandTotCentrum" class="grootheid">afstand tot centrum(km): </label>
            <input id="afstandTotCentrum" th:field="*{afstandTotCentrum}"
                   class="eenheid">
        </div>
    </div>
    <div class="appartementinfo">
        <div>
            <label for="aantalSlaapkamers" class="grootheid">aantal slaapkamers: </label>
            <input id="aantalSlaapkamers" th:field="*{aantalSlaapkamers}"
                   class="eenheid">
        </div>
    </div>
    <div class="appartementinfo">
        <div>
            <label for="oppervlakte" class="grootheid">oppervlakte: </label>
            <input id="oppervlakte" th:field="*{oppervlakte}"
                   class="eenheid">
        </div>
    </div>

    <div class="appartementinfo">
        <a th:href="@{|/appartementdetails/${appartement.id}|}" class="cancelButton">cancel</a>
        <input type="submit" value="save" class=" editButton">
    </div>
</form>


</body>
</html>