<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>

  <title>Title</title>
</head>
<body>
<form th:action="@{|/admin/appartementedit/${appartement.id}|}" th:object="${appartement}" method="post">


  <div class="venueinfo">
    <div class="infoLine">
      <label for="appartementNaam" class="infoLineName">naam: </label>
      <input id="appartementNaam" th:field="*{appartementNaam}" th:value="${appartement.appartementNaam}" class="infoLineValue">
    </div>
  </div>
  <div class="venueinfo">
    <div class="infoLine">
      <label for="extraInfo" class="infoLineName">extra info: </label>
      <input id="extraInfo" th:field="*{extraInfo}" th:value="${appartement.extraInfo}"
             class="infoLineValue">
    </div>
  </div>
  <div class="venueinfo">
    <div class="infoLine">
      <label for="capacity" class="infoLineName">capaciteit: </label>
      <input id="capacity" th:field="*{capacity}"  class="infoLineValue">
    </div>
  </div>
  <div class="venueinfo">
    <div class="infoLine">
      <label for="parkingBeschikbaar" class="infoLineName">parking beschikbaar ?  </label>
      <input id="parkingBeschikbaar" th:field="*{parkingBeschikbaar}"
             class="infoLineValue">
    </div>
  </div>
  <div class="infoLine">
    <a th:href="@{|/appartementdetails/${appartement.id}|}" class="buttonLook editButton">cancel</a>
    <input type="submit" value="save" class="buttonLook editButton">
  </div>
</form>
<!--      in-->
<!--      <a th:href="@{|/venuedetails/${party.venue.id}|}" th:text="${party.venue.venueName}"-->
<!--         class="linkLook">venue</a>-->
<!--    </h3>-->

<!--    <div class="venueinfo">-->
<!--      <div class="infoLine" th:unless="${party.pricePresaleInEur!=null || party.priceInEur!=null}">-->
<!--        Free Party!-->
<!--      </div>-->
<!--      <div class="infoLine">-->
<!--        <div class="infoLineName">where:</div>-->
<!--        <div class="infoLineValue"-->
<!--             th:text="|${party.venue.city} (${party.venue.distanceFromPublicTransportInKm} km from public transport)|">-->
<!--          city and distance-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="infoLine" th:if="${party.pricePresaleInEur!=null || party.priceInEur!=null}">-->
<!--        <div class="infoLineName">price:</div>-->
<!--        &lt;!&ndash;suppress SyntaxError &ndash;&gt;-->
<!--        <div class="infoLineValue"-->
<!--             th:text="|${party.pricePresaleInEur}${'&euro;'} (presale) / ${party.priceInEur}${'&euro;'}|">-->
<!--          pricePresaleInEur and price-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="infoLine">-->
<!--        <div class="infoLineName">doors</div>-->
<!--        <div class="infoLineValue" th:text="${party.doors}">date</div>-->
<!--      </div>-->
<!--      <div class="infoLine" th:if="${!party.extraInfo.isBlank()}">-->
<!--        <div class="infoLineName">extraInfo</div>-->
<!--        <div class="infoLineValue" th:text="${party.extraInfo}">extraInfo</div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div class="row1content" th:unless="${party}">-->
<!--    <p>no party was chosen</p>-->
<!--  </div>-->
<!--</div>-->





</body>
</html>