<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"
          href="static/css/style.css"/>


    <title>Login</title>
</head>


<body class="loginBody">
<div class="loginMain">
    <p class="sign">Log in</p>
    <form class="loginForm1" th:action="@{|/user/login|}" method="post">
        <label for="name">
            <h2 class="h2Login">Gebruikersnaam</h2>
            <input type="text" id="name" name="username" class="un"
                   placeholder="Gebruikersnaam">
        </label>

        <label for="pass">
            <h2 class="h2Login">Wachtwoord</h2>
            <input type="password" id="pass" name="password" class="pass"
                   placeholder="Wachtwoord">
        </label>

        <button class="submit">Log in</button>

    </form>
    <button class="submitRegistreer">
        <a th:href="@{|/user/registreer|}">Registreer</a>

    </button>
    <button id="CancelButton" class="submitRegistreer">
        <a th:href="@{/home}">cancel</a>

    </button>


</div>
</body>
</html>