<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"
          href="static/css/style.css"/>
    <title>Logout</title>
</head>
<body class="loginBody">
<div class="loginMain">
    <p class="sign">Log out</p>
    <form class="loginForm1" th:action="@{|/user/logout|}" method="post">
        <h2 class="h2Login"> bent u zeker dat u wilt uitloggen?</h2>


        <button class="submit">Log uit</button>

    </form>


    <button class="submitRegistreer">
        <a th:href="@{/home}">cancel</a>

    </button>


</div>

</body>

</html>