<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"
          href="static/css/style.css"/>

    <title>Regsitreer</title>
</head>

<body class="loginBody">
<div class="loginMain">
    <p class="sign">Registreer</p>
    <form class="loginForm1" th:action="@{|/user/registreer|}" method="post">
        <label for="name">
            <h2 class="h2Login">Gebruikersnaam</h2>
            <input type="text" id="name" name="username" class="un"
                   placeholder="Gebruikersnaam">
        </label>

        <label for="email">
            <h2 class="h2Login">Email</h2>
            <input type="email" id="email" name="email" class="email"
                   placeholder="vb@example.com">
        </label>

        <label for="password">
            <h2 class="h2Login">Wachtwoord</h2>
            <input type="password" id="password" name="password" class="pass"
                   placeholder="Wachtwoord">
        </label>


        <button id="registreerSubmit" class="submit">registreer</button>

    </form>

    <button class="submitRegistreer">
        <a th:href="@{|/user/login|}">cancel</a>

    </button>
</div>
</body>
</html>