<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../../static/css/style.css"/>

    <title>Appartementenverhuur</title>
</head>
<body>

    <div th:fragment="header">
<!--        <div class="text-center mb-5 mt-5 font-weight-bold">-->
<!--&lt;!&ndash;            <p class="TitleHome">appartementenverhuur</p>&ndash;&gt;-->
<!--        </div>-->
        <div class="nav">
            <h1>Appartementenverhuur</h1>


            <div class="navbuttons">

                    <a class="buttonLook menuButton" th:href="@{/}">home</a>
                    <a class="buttonLook menuButton" th:href="@{/appartementenlijst}">appartementen</a>
                    <a class="buttonLook menuButton" th:href="@{/boekingen}">boekingen</a>


            </div>
        </div>
        <div class="freespaceforheader"></div>
    </div>


</body>
</html>