<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../../static/css/style.css"/>

    <title>Title</title>
</head>
<body>
<header>
    <div th:fragment="header">
        <div class="text-center mb-5 mt-5 font-weight-bold">
            <p class="TitleHome">appartementenverhuur</p>
        </div>
        <div class="nav">
            <div sec:authentication="name" sec:authorize="isAuthenticated()" class="hello"></div>


            <div class="navbar-dark">
                <ul>
                    <li class="active"><a class="nav-button" th:href="@{/}">home</a></li>
                    <li><a class="nav-button" th:href="@{/appartementenlijst}">appartementen</a></li>
                    <li><a class="nav-button" th:href="@{/boekingen}">boekingen</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{|/user/logout|}"
                        class="nav-button">logout</a></li>
                    <li><a sec:authorize="!isAuthenticated()" th:href="@{/user/login}"
                        class="buttonLook menuButton authButton">login</a></li>

                </ul>
            </div>
        </div>
        <div class="freespaceforheader"></div>
    </div>
</header>

</body>
</html>