
.TitleHome {
    font-size: 60px;
    /*margin-top: 10px;*/
    text-align: center;
    margin-bottom: 30px;
    color: white;
}
.filterButton {
    background-color: #002752;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    color: white;
    margin-bottom: 10px;
}
.filterNumber input[type="number" i]{
    width: 2em;
}
/*.filterCapacity{*/
/*    width: 2em;*/
/*}*/
/*.submitButton{*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/
* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: large;
}
/*header{*/
/*    background-image: url("/img/appartement.jpg") ;*/
/*    height: 100vh;*/
/*}*/
.row1 img {
    width: 100%;
    /*height: auto;*/
    position: relative;
}
ul li {
    display: inline-block;
}
ul li a {
    /*color: white;*/
    padding: 5px 20px;
    border: 1px solid white;
    margin-bottom: 5px;
}
ul li a:hover {
    background-color: black;
}
.aantalAppartementen{
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
}
.gevondenAppartementen{
    text-align: center;
}
.gevondenAppartementButton{
    display: block;
    margin: 10px auto;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
    background-color: #002752;
    border-radius: 70%;
}
.gevondenAppartementButton:hover{
    background-color: cornflowerblue;
}
.appartementDetailsTekst{
    /*display: flex;*/
    margin: 10px;
    text-align: center;
}
.appartementinfo{
    text-align: center;
    margin-top: 50px;
}
/*ul li.active a {*/
/*    background-color: black;*/
/*}*/
header {
    background-color: cornflowerblue;
    padding-bottom: 5px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.footer {
    background-color: cornflowerblue;
    margin: 0;
    padding-top: 5px;
}
.footerText {
    text-align: center;
    color: white;
}
body {
    margin: 0;
}
.htmlHomePage {
    background-color: cornflowerblue;
}
.details {
    text-align: center;
}
.infoLineName{
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: large;
}
.detailscontent {
    text-align: center;
    margin-bottom: 50px;
}
.prevAppButton{
    float:left;
    margin-top: 250px;
}
.nextAppButton{
    float: right;
    margin-top: 250px;
}
.editButton {
    font-size: 1.2em;
    padding: 1.2em;
    background-color: green;
    color: white;
    border-width: 0;
    width: 5em;
    display: inline-block;
    margin-bottom: 50px;
}
.cancelButton{
    font-size: 1.2em;
    padding: 1.2em;
    background-color: red;
    color: white;
    border-width: 0;
    width: 5em;
    display: inline-block;
    margin-bottom: 200px;
}
.cancelButton:hover{
    background-color: firebrick;
}
.editButton:hover{
    background-color: #4c6c5d;
}
/*.appartementinfo {*/
/*    float: left;*/
/*}*/
.boekingenVanAppartement {
    text-align: center;
}
body {
    background-color: lightgray;
    color: black;
    margin: 0;
}
.overlay {
    position: absolute;
    top: 0;
    background-color: #f2cf9ed4;
    padding: 30px;
    margin: 0 30px;
}
/*TABLE CSS*/
.boekingTabel{
    text-align: center;
    margin-top: 50px;
    margin-left: 370px;
}
.h2Boekingen{
    text-align: center;

}
.logButton{
    position: absolute;
    color: #c69500;
}
.hello{

    float: right;
   font-size: x-large;
    color: white;
    margin-right: 10px;
}
.LoginlogoutBody{
    font-family: "Roboto Light", sans-serif;
    width: 100%;
    background: url("/img/app1.png");
    text-align: center;
}
.h1AppNaam{
    font-size: xxx-large;
}
.grootheid{
    font-weight: bolder;
    margin-bottom: 5px;

    color: black;
    font-size: x-large;
}
.eenheid{
    color: darkorange;
    font-weight: bold;
}
.h1Boekingen{
    font-size: xxx-large;
    text-align: center;
}
/*LOGIN CSS FINAL*/
.loginBody {
    background-color: lightgray;
    font-family: 'Ubuntu', sans-serif;
}

.loginMain {
    background-color: #FFFFFF;
    width: 400px;
    height: 430px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 20px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

.un, .email {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;

    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.loginForm1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;

    margin-bottom: 20px;
    margin-left: 46px;
    text-align: center;

    font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, cornflowerblue, cornflowerblue);
    border: 0;
    padding: 10px 20px;
    /*font-family: 'Ubuntu', sans-serif;*/
    margin-left: 35%;
    font-size: 16px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    font-weight: bold;
}

.h2Login {
    text-align: center;
}
.submitRegistreer{
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, cornflowerblue, cornflowerblue);
    border: 0;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-top: 4px;

}

