
.TitleHome {
    font-size: 60px;
    /*margin-top: 10px;*/
    text-align: center;
    margin-bottom: 30px;
    color: white;
}
.filterButton {
    background-color: #002752;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    color: white;
    margin-bottom: 10px;
}
.filterNumber input[type="number" i]{
    width: 2em;
}
/*.filterCapacity{*/
/*    width: 2em;*/
/*}*/
/*.submitButton{*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/
* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: large;
}
/*header{*/
/*    background-image: url("/img/appartement.jpg") ;*/
/*    height: 100vh;*/
/*}*/
.row1 img {
    width: 100%;
    /*height: auto;*/
    position: relative;
}
ul li {
    display: inline-block;
}
ul li a {
    /*color: white;*/
    padding: 5px 20px;
    border: 1px solid white;
    margin-bottom: 5px;
}
ul li a:hover {
    background-color: black;
}
.aantalAppartementen{
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
}
.gevondenAppartementen{
    text-align: center;
}
.gevondenAppartementButton{
    display: block;
    margin: 10px auto;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
    background-color: #002752;
}
.gevondenAppartementButton:hover{
    background-color: cornflowerblue;
}
.appartementDetailsTekst{
    /*display: flex;*/
    margin: 10px;
    text-align: center;
}
.appartementinfo{
    text-align: center;
    margin-top: 50px;
}
/*ul li.active a {*/
/*    background-color: black;*/
/*}*/
header {
    background-color: cornflowerblue;
    padding-bottom: 5px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.footer {
    background-color: cornflowerblue;
    margin: 0;
    padding-top: 5px;
}
.footerText {
    text-align: center;
    color: white;
}
body {
    margin: 0;
}
.htmlHomePage {
    background-color: cornflowerblue;
}
.details {
    text-align: center;
}
.infoLineName{
    font-weight: bolder;
    margin-bottom: 5px;
}
.detailscontent {
    text-align: center;
    margin-bottom: 50px;
}
.prevAppButton{
    float:left;
    margin-top: 250px;
}
.nextAppButton{
    float: right;
    margin-top: 250px;
}
.editButton {
    font-size: 1.2em;
    padding: 1.2em;
    background-color: green;
    color: white;
    border-width: 0;
    width: 5em;
    display: inline-block;
    margin-bottom: 200px;
}
.cancelButton{
    font-size: 1.2em;
    padding: 1.2em;
    background-color: red;
    color: white;
    border-width: 0;
    width: 5em;
    display: inline-block;
    margin-bottom: 200px;
}
.cancelButton:hover{
    background-color: firebrick;
}
.editButton:hover{
    background-color: #4c6c5d;
}
/*.appartementinfo {*/
/*    float: left;*/
/*}*/
.boekingenVanAppartement {
    text-align: center;
}
body {
    background-color: #b3d7ff;
    color: #4c6c5d;
    font-family: Bahnschrift, sans-serif;
    margin: 0;
}
.overlay {
    position: absolute;
    top: 0;
    background-color: #f2cf9ed4;
    padding: 30px;
    margin: 0 30px;
}
/*TABLE CSS*/
.boekingTabel{
    text-align: center;
    margin-top: 50px;
    margin-left: 370px;
}
.h2Boekingen{
    text-align: center;

}
.logButton{
    position: absolute;
    color: #c69500;
}
.hello{
    position: absolute;
    float: right;
}
.LoginlogoutBody{
    font-family: "Roboto Light", sans-serif;
    width: 100%;
    background: url("/img/app1.png");
    text-align: center;
}
.carousel-item{
    height: 32em;
    background-color: white;
    position: absolute;

}
.container {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}