<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>


    <title>Apartementenlijst</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="appartementenlijst">
    <div class="appartementenlijstInhoud">
        <div class="row1">
            <div class="aantalAppartementen" th:text="|${nrOfAppartementen} appartementen gevonden|">20 appartementen</div>
            <div th:unless="${showFilters}" class="filters">
                <a class="filterButton" th:href="@{/appartementenlijst/filter}">zoek op filter</a>
            </div>
            <div th:if="${showFilters}" class="filters">
                <a class="filterButton" th:href="@{/appartementenlijst}">-</a>

                <form>
                    <div class="submitButton">
                        <input type="submit" value="zoek" class="buttonLook filterButton">
                    </div>
                    <h3>capaciteit</h3>
                    <div class="filterNumber">
                        <label for="minCapacity" class="filtername"> min</label>
                        <input type="number" id="minCapacity" name="minCapacity" th:value="${minCapacity}" value="0"
                               step="1"> personen
                    </div>
                    <div class="filterNumber">
                        <label for="maxCapacity" class="filtername">max</label>
                        <input type="number" id="maxCapacity" name="maxCapacity" th:value="${maxCapacity}" value="0"
                               step="1"> personen
                    </div>
                    <h3>afstand tot centrum</h3>
                    <div class="filterNumber">
                        <label for="maxAfstandTotCentrum" class="filtername">max</label>
                        <input type="number" id="maxAfstandTotCentrum" name="maxAfstandTotCentrum" th:value="${maxAfstandTotCentrum}" value="0"
                               step="1"> km tot het centrum
                    </div>
                    <h3>huisdieren</h3>
                    <div class="onefilter">
                        <label for="huisdierenToegelaten_yes" class="filtername">yes</label>
                        <input type="radio" id="huisdierenToegelaten_yes" name="huisdierenToegelaten_yes" value="yes"
                               th:checked="${filterhuisdieren=='yes'}">
                    </div>
                    <div class="onefilter">
                        <label for="huisdierenToegelaten_no" class="filtername">no</label>
                        <input type="radio" id="huisdierenToegelaten_no" name="huisdierenToegelaten_no" value="no"
                               th:checked="${filterhuisdieren=='no'}">
                    </div>
                    <div class="onefilter">
                        <label for="huisdierenToegelaten_all" class="huisdierenToegelaten_all">all</label>
                        <input type="radio" id="huisdierenToegelaten_all" name="filterHuisdieren" value="all"
                               th:checked="${filterhuisdieren=='all'}">
                    </div>
<!--                    <h3>keyword</h3>-->
<!--                    <div class="onefilter">-->
<!--                        <label for="keyword" class="filtername"></label>-->
<!--                        <input type="text" id="keyword" name="keyword" th:value="${keyword}" value="0">-->
<!--                    </div>-->

                </form>
            </div>
            <div class="gevondenAppartementen">
                <div th:each="appartement:${appartementen}">
                    <a class="gevondenAppartementButton"
                       th:href="@{|/appartementdetails/${appartement.id}|}">
                        <span th:text="${appartement.appartementNaam}">appartement naam</span>
                        <div th:text="|max ${appartement.capacity} personen|" class="venueExtraInfo">maxNrOfPersons</div>
                        <div th:text="|stad ${appartement.stad}| "></div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<div sec:authorize="hasAuthority('ADMIN')"  class="editButton">
    <a sec:authorize="hasAuthority('ADMIN')"  th:href="@{|/admin/appartementnew|}" >newApp</a>
</div>




</body>
</html>