<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row1">
<!--    <div class="row1content">-->
<!--&lt;!&ndash;        <h2><p th:text="${appartementNaam}">appartement</p></h2>&ndash;&gt;-->
<!--    </div>-->


<div class="row1content" th:if="${appartement}">

    <div class="prevButtonDiv">
        <a class="buttonLook smallButton" th:href="@{|/appartementdetails/${prevId}|}">&lt;</a>
    </div>
    <div class="nextButtonDiv">
        <a class="buttonLook smallButton" th:href="@{|/appartementdetails/${nextId}|}">&gt;</a>
    </div>
</div>
<h2 th:text="|appartement: ${appartement.appartementNaam}|">appartementdetails</h2>

<div class="row1content" th:unless="${appartement.id}">
    <p>geen appartement gekozen</p>
</div>
</div>


</body>
</html>