<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row1">
    <div class="row1content">
<!--        <h2><p th:text="${appartementNaam}">appartement</p></h2>-->
    </div>

</div>
<div class="row1content" th:if="${appartement}">

    <div class="prevButtonDiv">
        <a class="buttonLook smallButton" th:href="@{|/appartementdetails/${prevId}|}">&lt;</a>
    </div>
    <div class="nextButtonDiv">
        <a class="buttonLook smallButton" th:href="@{|/appartementdetails/${nextId}|}">&gt;</a>
    </div>
</div>
<h2 th:text="|appartement: ${appartement.appartementNaam}|">appartementdetails</h2>


</body>
</html>