<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:text="|${nrOfAppartementen} appartementen gevonden|">20 appartementen</div>


<div class="venuelist">
    <div th:each="appartement:${appartementen}">
        <a class="buttonLook mediumButton"
           th:href="@{|/appartementdetails/${appartement.id}|}">
            <span th:text="${appartement.appartementNaam}">appartement naam</span>
            <div th:text="|capacity ${appartement.capacity}|" class="venueExtraInfo">maxNrOfPersons</div>
        </a>

    </div>
</div>


</body>
</html>