<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"
          href="../static/css/style.css"/>

    <title>BoekingNew</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<form th:object="${boeking}" th:action="@{/boekingnew}" method="post">
    <div class="appartementinfo">

        <div>
            <label for="appartementId" class="grootheid">appartementid </label>
            <input id="appartementId" th:field="*{appartement.id}" class="infoLineValue">
        </div>
        <div>
            <label for="numGuests" class="grootheid">aantal gasten: </label>
            <input id="numGuests" th:field="*{numGuests}" class="infoLineValue">
        </div>

        <div>
            <label for="startDatum" class="grootheid">startdatum <i>(yyyy-mm-dd)</i>: </label>
            <input id="startDatum" th:field="*{startDatum}" class="infoLineValue">

        </div>
        <div>
            <label for="eindDatum" class="grootheid">eindDatum <i>(yyyy-mm-dd)</i>: </label>
            <input id="eindDatum" th:field="*{eindDatum}" class="infoLineValue">

        </div>


        <div>
            <a th:href="@{/appartementenlijst}" class="cancelButton">cancel</a>
            <input type="submit" value="save" class="editButton">
        </div>
    </div>

</form>
</body>
</html>