<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>

    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<h1 class="h1Boekingen">Overzicht boekingen</h1>
<table border="1" class="boekingTabel">
    <thead>
    <tr>
        <th>Id</th>
        <th>Appartement</th>
        <th>Van</th>
        <th>Tot</th>
        <th>Aantal dagen</th>
        <th>aantal personen</th>
        <th>capaciteit appartement</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b: ${boekingen}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.appartement.appartementNaam}"></td>
        <td th:text="${b.startDatum}"></td>
        <td th:text="${b.eindDatum}"></td>
        <td th:text="${b.numDays}"></td>
        <td th:text="${b.numGuests}"></td>
        <td th:text="${b.appartement.capacity}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>