<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>

    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="row1">

    <div class="row1content" th:if="${boeking}">

<!--        <div class="prevAppButton">-->
<!--            <a  th:href="@{|/boekingdetails/${prevId}|}">&lt;</a>-->
<!--        </div>-->
<!--        <div class="nextAppButton">-->
<!--            <a  th:href="@{|/boekingdetails/${nextId}|}">&gt;</a>-->
<!--        </div>-->



        <div class="appartementinfo">
            <div class="infoLine">
                <div class="grootheid">id boeking:</div>
                <div class="eenheid">
                    <a th:text="${boeking.id}" class="linkLook" target="_blank">
                        id</a>
                </div>
            </div>
            <div class="infoLine">
                <div class="grootheid">naam van appartement:</div>
                <div class="eenheid" th:text="${boeking.appartement.appartementNaam}">appartementNaam</div>
            </div>
            <div class="infoLine">
                <div class="grootheid">aantal dagen:</div>
                <div class="eenheid" th:text="|${boeking.getNumDays()} dagen|">aantal dagen</div>
            </div>
            <div class="infoLine">
                <div class="grootheid">van:</div>
                <div class="eenheid" th:text="${boeking.startDatum}">
                    startDatum
                </div>
            </div>
            <div class="infoLine">
                <div class="grootheid">tot:</div>
                <div class="eenheid" th:text="${boeking.eindDatum}">tot</div>
            </div>
            <div class="infoLine">
                <div class="grootheid">aantal gasten</div>
                <div class="eenheid" th:text="|${boeking.numGuests} gasten|">aantalgasten</div>
            </div>




        </div>
    </div>
    <div class="row1content" th:unless="${boeking}">
        <p>geen boeking gekozen</p>
    </div>

</div>

</body>
</html>