<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>

    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<!--<div>Hello <span th:text="${name}">Stranger</span></div>-->
<div>
<a href="appartementdetails.html">test</a>
</div>

<div class="row1">
    <div class="row1content">
        <div class="editButtonDiv">
            <a th:href="@{|/admin/appartementnew|}" class="buttonLook smallButton">new</a>
        </div>


</body>
<div th:replace="fragments/footer :: footer">Footer</div>


</html>