<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--suppress XmlUnusedNamespaceDeclaration -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"
          href="../static/css/style.css"/>
    <!--    <link rel="stylesheet" th:href="@{css/bootstrap.css}" href="../static/css/bootstrap.css">-->


    <title>Appartementenverhuur</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">


    <img th:src="@{/css/img/app1.png}" src="../static/css/img/app1.png" alt="Appartement" height="890"
         width="1583"/>

</div>



</body>
<div th:replace="fragments/footer :: footer">Footer</div>


</html>